h1{
    color :whitesmoke;
    font-size: xx-large;
    font-style: normal;
    background:#6B5B95;
    padding: 20px;
    font-family: "Trirong",serif;
    align-content: center;
}
body{
    border: sandybrown;
    background :whitesmoke;
}
img{
    border-radius: 50%;
    margin: 25px 25px 25px 25px;
    text-align: right;
    text-shadow: 2px 2px;
    box-shadow: 0 0 2px 2px rgba(0, 140, 186, 0.5);
}
img:hover{
    box-shadow: 0 0 2px 1px black;
}
h2{
    color:blueviolet;
    font-size: medium;
}
ul{
    align-content: flex-start;
    color:tomato;
}
header{
    background:#6B5B95;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
}