  .logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
  }
  
  .ip {
    transition: box-shadow .3s;
    width: 500px;
    height: 10px;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #ccc;
  }
  .ip:hover{
    box-shadow: 0 0 1px 1px rgba(33,33,33,.2);
  }
  .right{
    padding-left:15px;
  }
  .left {
	padding-left:15px;
}
.head{
  display: block;
  text-align: right;
}
.cen{
    display: block;
    text-align: center;
}
.ii{
      border-radius: 50%;
  }

button{
      border-radius: 5%;
      border: 1px solid #ccc;
      height: 30px;
      width: 20%;
      margin: 20px;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      background-color: white;
    }
button a:hover{
  box-shadow: 0px 1px #141111
}