  .logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
  }
  
  input {
    width: 500px;
    height: 10px;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #ccc;
  }
  input a:hover{
    box-shadow: 2px 2px 0 rgba(33,33,33,.2);
  }
  .right{
    padding-left:15px;
  }
  .left {
	padding-left:15px;
}
.head{
  display: block;
  text-align: right;
}
.cen{
    display: block;
    text-align: center;
}
.ii{
      border-radius: 50%;
  }

button{
      border-radius: 10%;
      height: 30px;
      width: 170px;
      margin: 20px;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }