  img {
    width: 100px;
    margin: 25px;
    text-align: right;
    
  }
  
  input {
    width: 300px;
    height: 10px;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid rgb(199, 199, 199);
    vertical-align: top;
  }
  
  
  
  
  
  